body {
  font: 0.9em Verdana, sans-serif;
}
a, a:visited {
  color: #231F20;
}

a img {
  border: 0;
}

#main, #top_navigation {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#top_navigation {
  height: 130px;
}
#logo {
  position: relative;
  top: -50px;
  z-index: -1;
}
#top_navigation .adsense {
  float: right;
}

/* index page */
.tee_tile {
  float: left;
  width: 175px;
  height: 175px;
}
.tee_thumb {
  height: 175px;
  width: 175px;
}
.tee_thumb img {
  height: 175px;
  width: 175px;
}
.tee_tile .name {
  display: block;
}
.tee_tile .comment_count {
  font-size: 0.8em;
}
.tee_tile .vote {
  float: right;
  margin-top: 4px;
}
.tee_tile .vote a.voted, .tee_tile .vote a.vote:hover {
  background-color: orange;
}

/* show page */
#shirt_info {
  float: right;
  width: 300px;
}

#shirt_container {
  width: 500px;
  padding-right: 15px;
  text-align: center;
}
#shirt_container img {
  border: 1px solid #CCCCCC;
}

