<div class="tee_tile" id="tee_tile_<%= shirt.id %>">
  <div class="tee_thumb">
    <%= image_tag(shirt.image.public_filename(:thumb), :alt => shirt.text) %>
  </div>
  <div class="tee_info" style="display: none;">
    <%= shirt.merchant.name %>
  </div>
</div>
